<form action="/user/signup" method="POST" id="signup-form">
  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" name="theUsername">

  <label for="password">Password</label>
  <input type="password" name="thePassword">

  <button type='submit'>Sign Up</button>

  <p class="account-message">
    Already have an account? <a href="/user/login">Login</a>
  </p>
</form>