

<h3>My First Map</h3>

<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG5jzMd7mTDiza20IeHZBhM1ZS_i_We-Y"></script>

 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript" src="map.js"></script>

   
   

